body{
    color:aliceblue;
    background-color: black;
}
section{
    background:rgb(239, 150, 150);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-de.texto{
    margin-right: 5%;
}
.margem-canto{
    margin-right: 5%;
}